.main-page-container {
    height: 80vh;
    width: 80vw;
    text-align: center;
}

.area-inputs-container {
    display: flex;
    display: 100%;
    justify-content: center;
    margin-bottom: .3rem;
}

.display-container {
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 90vw;
}

.google-map-container {
    width: 60vw;
    height: 80vh;
}

.weather-info-container {
    width: 30vw;
    height: 60vh;
    font-size: .9rem;
}
